@font-face {
    font-family: 'megrimfont';
    src: url('../fonts/Act_Of_Rejection.ttf');
}

.megrim-font {
    font-family: 'megrimfont';
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'headlinefont';
    src: url('../fonts/ATLANTISBOLD.TTF');
}

.headline-font {
    font-family: 'headlinefont'!important;
}

.rubik-font {
    font-family: 'Rubik';
}

/*  my new css */
body {
    background-color: #000;
}

.row {
    margin: 0!important;
}

.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.top-section {
    height: 70px;
}

.top-icon-block {
    margin-top: 20px;
    float: right;
}

.top-icon {
    width: 35px;
    margin-right: 15px;
}

/* .navbar-block {
    margin-top: 80px;
} */

.logo-image {
    margin-left: 50px;
}

nav {
    width: 100%;
}

.list {
    float: right;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.items {
    margin-right: 35px;
    font-size: 40px;
    font-family: megrimfont;
    text-transform: uppercase;
    color: red;
    cursor: pointer;
}

.menu-btn {
    display: none;
    position: absolute;
    right: 30px;
    top: 70px;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    font-family: rubik;
    font-size: 24px;
}

.width-100 {
    width: 100%;
}

.menu-block {
    padding-bottom: 30px;
    position: absolute;
    right: 30px;
    top: 120px;
}

.navbar-block {
    border-bottom: 1px solid #111;
    padding-bottom: 30px;
}

.hero-block {
    margin: 0 100px 50px 100px;
}

.hero-image {
    margin-top: 40px;
    width: 100%;
}

.welcome-font {
    font-size: 43px!important;
}

.content-section {
    padding: 60px 100px 60px 100px;
    border-bottom: 1px solid #111;
}

.title-font {
    font-size: 65px;
    font-family: megrimfont;
    color: red;
    margin-bottom: 50px;
}

.content-font1 {
    font-size: 18px;
    font-family: Rubik;
    letter-spacing: -1px;
    color: #fff;
}

.content-font2 {
    font-size: 14.5px;
    font-family: Rubik;
    letter-spacing: 0px;
    color: #fff;
}

.club-btn {
    margin-top: 20px;
}

.phase10 {
    font-size: 11.5px;
}

.roadmap-block {
    margin-top: 30px!important;
}

.accordion-item {
    border-color: #000!important;
}

.accordion-button {
    background: #000!important;
    text-transform: uppercase;
    padding: 10px 5px;
    font-size: 13px!important;
    color: #fff!important;
    border-bottom: 1px solid #111;
    cursor: pointer;
}

.accordion-button::after {
    background-image: url(../images/arrow.png)!important;

}

.phase-btn {
    text-transform: uppercase;
    background-color: red!important;
    padding: 5px 10px;
    border-radius: 7px;
    border: none!important;
    color: #fff!important;
    margin-right: 10px;
}

.accordion-body {
    color: #fff;
    font-size: 12px;
}

.accordion-collapse {
    background-color: #000;
}

.mint-btn {
    font-size: 32px;
    padding: 7px 35px;
    border-radius: 7px;
    background-color: red;
    color: #fff;
    border: none;
}

.specs-content-text {
    letter-spacing: -2px;
}

.rarity-btn {
    margin-bottom: 15px;
    padding: 20px 30px;
}

.team-image {
    padding: 10px;
}

.member-name {
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    font-family: megrimfont;
    color: red;
}

.join-discord {
    margin-top: 50px;
    margin-bottom: 80px;
}

.discord-button {
    font-size: 22px;
    padding: 20px 30px;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    border: none;
    letter-spacing: -1px;
}

.smart-contract {
    margin-left: 50px;
    color: #fff;
    font-size: 17px;
    letter-spacing: -1.5px;
}

.subscribe {
    width: 80%;
}

.subscribe-title {
    color: #fff;
    font-family: megrimfont;
    font-size: 20px;
}

.form-control {
    display: block;
    min-height: calc(1.5em + .75rem + 2px);
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.card {
    padding: 20px;
    background-color: #eee;
    padding-bottom: 50px;
    padding-top: 50px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: red;
    outline: 0;
    box-shadow: none
}

.border-rad {
    color: #fff;
    background-color: red;
    border-color: red
}

.border-rad:hover {
    background-color: red;
    border-color: red
}

.bottom-section {
    padding: 60px 40px 60px 100px;
}

.bottom-icon-block {
    float: right;
}

.bottom-icon-section {
    height: 120px;
}

.bottom-text-block {
    color: #fff;
    font-size: 12px;
    font-family: megrimfont;
    float: right;
}

@media screen and (max-width: 1220px){
    .items {
        font-size: 33px;
        margin-right: 23px;
    }
}

@media screen and (max-width: 1060px){
    .list {
        flex-direction: column;
        height: auto;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .menu-btn {
        display: block;
    }
    .menu-block {
        background-color: #000;
        border: 1px solid #111;
        right: 5px;
        box-shadow: 1px 5px 10px #495057;
        border-radius: 5px;
        padding-bottom: 0;
    }
    .list {
        float: none;
        padding-right: 27px!important;
    }
}

@media screen and (max-width: 1060px){
    
}